// main.scss
//

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
  // -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}

// PAGE
//
.page {
  background-image: url("../img/breaking-bg.jpg");
  background-position: top center;
  height: 650px;
  margin: 0 auto;
  max-width: 1172px;
  position: relative;
}

// Breaking
.breaking {
  background-color: #000;
  position: absolute;
    right: 0; bottom: 0; left: 0;
  width: 100%;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
}
  .breaking__inner {
    color: #FFF;
    font-size: 15px;
    height: 40px;
    margin: 0 auto;
    max-width: 976px;
    position: relative;
  }
    .breaking__label {
      background-color: #CC0101;
      display: inline-block;
      font-weight: bold;
      line-height: 1;
      margin-right: 6px;
      position: absolute;
        top: 10px; left: 0;
      padding: 3px 4px 2px;
      text-transform: uppercase;
      vertical-align: middle;
      z-index: 20;
    }
    .breaking__alert {
      padding-top: 9px;

      p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 88px+6;
        vertical-align: middle;
      }
    }
    .breaking__close {
      color: #FFF;
      display: block;
      font-weight: bold;
      font-size: 21px;
      padding: 4px;
      position: absolute;
        top: 6px; right: 0;
      z-index: 20;
    }

// Utility
//

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
